article {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid rgb(231, 231, 231); */
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(72, 72, 72, 0.15);
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 90%;
    background-color: white;
}

.text-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 40px;
    width: 100%;
    padding: 0 20px
}

p, img {
    text-align: center;
    margin: 0;
    font-size: 16px;
}

p:first-of-type, p:nth-of-type(2), p:nth-of-type(3), img {
    flex: 1; /* These elements will take equal portions of the flex container's space */
}

p:nth-of-type(1) {
    flex: 0.5; /* This element will take half of the portion of other elements */
    margin-left: 20px;
}

img {
    max-width: 60px;
    height: 60px;
}